
#canvas{
  border: 1px solid red;
}

#scoreboard {
  border: 1px solid blue;
  list-style-type: none;
}

.scoreboard-container {
  margin: auto;
}

h2 {
  text-align: center;
  text-decoration: underline;
}
